@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;  
}

/* Vô hiệu hóa cuộn trên html và body */
html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Tắt cuộn dọc và ngang */
}

/*Kích cỡ của trang web*/
body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(45, 45, 45);
    font-family: 'Poppins',sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*kích cỡ màn hình*/
header {
    position: relative;
    /*width: 80%;
    height: 90%;
    */
    width: 100%;
    height: 100%;
    border: none;
    overflow : hidden;
    box-shadow : 0px 10px 25px -8px black;
    /*box-shadow : 0px 0px 0px 0px black;*/
}


/*hình nền và lớp nền trang web*/
header::before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100vh;
    /*background: url('img/money\ heist1.jpg')no-repeat center center / cover;*/
    background: url('img/cinema_wallp.jpg')no-repeat center center / cover;
    opacity: 0.9;
    z-index: -3;
}
header::after{
    content:'';
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg,transparent,black);
    z-index: -2;
}


/*video nền*/
header video{
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    object-fit: cover;
    z-index: -1;
    transform: scale(1.4);
}


/*thanh điều hướng, logo/menu bên trái, tìm kiếm và người dùng bên phải*/
header nav{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
}


/*logo và menu bên trái*/
header nav .logo_ul {
    display: flex;
    align-items: left;
    justify-content: left;
}

/*Logo của trang web*/
header nav .logo_ul img{
    width: 75px;
    height: 75px;
    border-radius: 36%; /* Bo tròn thành hình tròn */
    margin-top: 30px; /* Lùi cách cạnh trên 10px */
}

/* Sắp xếp các mục trong thanh điều hướng */
header nav .logo_ul ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

/* Khoảng cách giữa các mục trong thanh điều hướng */
header nav .logo_ul ul li{
    list-style: none;
    padding: 3px 15px;
}


header nav .logo_ul ul li a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: bold;
    transition: 0.3s linear;
}
header nav .logo_ul ul li a:hover{
    color: rgb(255, 255, 255, .7);
}


/*tìm kiếm và người dùng bên phải*/
header nav .search_user{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8%;
}
header nav .search_user input{
    padding : 3px 10px;
    border-radius: 20px;
    border: none;
    outline: none ;
    background: rgb(255, 255, 255, .3);
    color : white;
    margin-right: 10px;
}
header nav .search_user input::placeholder{
    color: white;
}
header nav .search_user img { /*avatar người dùng*/
    width : 20px;
    height: 20px;
    border-radius: 50%;
}
header nav .search_user .search{
    position: absolute;
    overflow-y: auto;
    width : 320px;
    height: 184px;
    right : 0;
    top:  40px;
    z-index: 99999;
    border-radius:5px;
}
header nav .search_user .search::-webkit-scrollbar{
    width: 5px;
    background: rgb(255, 255, 255, .3);
    border-radius:5px ;
    visibility: hidden;
}
header nav .search_user .search::-webkit-scrollbar-thumb{
    width: 5px;
    background: rgb(255, 255, 255, .3);
    border-radius:5px ;
    visibility: hidden;
}
header nav .search_user .search:hover::-webkit-scrollbar{
   visibility: visible;
}
header nav .search_user .search:hover::-webkit-scrollbar-thumb{
    visibility: visible;
 }


/*thẻ kết quả tìm kiếm*/
header nav .search_user .search .card{
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 3px 0px;
    text-decoration: none;
    /* display: none; */
}
header nav .search_user .search .card::before{
    content: '';
    position : absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255, .1);
    border-radius: 4px;
    backdrop-filter: blur(5px);
    z-index: -1;
}
header nav .search_user .search .card img {
    width: 28px;
    height: 90%;
    border-radius:2px;
    margin-left: 8px ;
}

/*Thẻ khung tên phim trong thanh tìm kiếm*/
header nav .search_user .search .card .cont {
    height: 100%;
    margin-left: 10px ;
    font-size: 10px;
    color: white;
}

/*Thẻ khung phần thuộc tính phim trong thanh tìm kiếm*/
header nav .search_user .search .card .cont h3{
    margin-top: 5px;
    width: 250px;
    line-height: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

header nav .search_user .search .card .cont p{
    color: rgb(255, 255, 255, .8);
}

/*Thẻ span làm khung màu vàng cho chữ IMDB*/
header nav .search_user .search .card .cont span{
    background-color: yellow;
    color: black;
    padding: 0px 0px 0px 2px; 
    margin: 0px 3px 0px 1px;
}

header nav .search_user .search .card .cont i{
    padding: 0px 0px 0px 2px; 
    margin: 0px 3px 0px 1px;
}



