

header section {
    position: absolute;
    width: 64.5%;       /* Chiếm 64,5% chiều dài header */
    height: 80%; 
    padding: 0 50px;
    bottom: 20px;
    overflow-y: auto; /*Cuộn dọc */
    overflow-x: hidden; /* Ẩn cuộn ngang */
    scroll-behavior: smooth; /* Cuộn mượt */
}

/*Ẩn thanh cuộn dọc trong các trình duyệt WebKit*/
header section::-webkit-scrollbar {
    width: 0; /* Ẩn thanh cuộn trong các trình duyệt WebKit */
    background: transparent; /* Đảm bảo không có nền */
}

/*Ẩn thanh cuộn dọc trong IE/Edge và Firefox*/
header section {
    -ms-overflow-style: none; /* Ẩn thanh cuộn trong IE/Edge */
    scrollbar-width: none; /* Ẩn thanh cuộn trong Firefox */
}

header section .cards {
    display: grid;
    grid-template-columns: repeat(5, 0fr); /* 6 thẻ trên một dòng */
    gap: 10px; /* Khoảng cách giữa các thẻ */
    width: 100%;
    height: 200px;
    margin-top: 10px;
    padding: 12px;
    align-items: center;
    scroll-behavior: smooth;
}

header section .cards .card{
    position: relative;
    min-width: 130px;
    height: 180px;
    border-radius: 8px;
    margin-right: 10px;
    transition: .3s linear;

}   

header section .cards .card .poster{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    position: relative;
}

header section .cards .card:hover{
    min-width: 150px;
 
}
header section .cards .card .rest_card{
    position: absolute;
    width: 180%;
    height: 100%;
    border-radius: 8px;
    left: 0;
    top: 0;
    z-index: 99999;
    opacity: 0;
    transition: 0.3s linear;
}
header section .cards .card .rest_card img{
    position: relative;
    width:100%;
    height: 100%;
    border-radius: 8px;
    z-index: -1;
}
header section .cards .card .rest_card::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 4%;
    background: linear-gradient(180deg,transparent,rgb(0, 0, 0));
    left: 0;
    bottom: 0;
    z-index: -1;
}
 header section .cards .card .rest_card .cont{
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 0;
    color: #fff;
    padding: 0px 15px ;
    font-size: 10px;
    
}
header section .cards .card .rest_card .cont .sub{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right:25px ;
    font-size: 8px;
    
}
header section .cards .card .rest_card .cont .sub p{
    font-weight: 400;
    font-size: 13px;
    color: rgb(255, 255, 255, .7);
}
/*
header section .cards .card .rest_card .cont .sub h3{
    color: #fff;
    display: flex;
    align-items: center;
}
*/
header section .cards .card .rest_card .cont .sub h3 span{
    background-color: yellow;
    color: black;
    padding: 0px 2px 0px 2px; 
    margin: 0px 3px 0px 1px;
}
header section .cards .card:hover .rest_card{
    opacity: 1;
    
}
